<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<form action="index" method="post" novalidate>
    {{form.hidden_tag()}}
    <h1>Welcome</h1>
</form>
    <p>
        <a href="/login">login</a>
    </p>

<div>
    Main:
    <a href="{{ url_for('index') }}">Home</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>
</body>
</html>